@use '../../global.scss';

.filter-result-head {
  position: relative;
  display: grid;
  will-change: transform;

  .result-head-fixed {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    border-radius: 8px 0 0 8px;
    background: global.$defaultGrey100;
    will-change: transform;
  }

  .result-head-scrollX {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    border-radius: 0 8px 8px 0;
    background: global.$defaultGrey100;
    will-change: transform;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 8px;
      height: 100%;
      background: linear-gradient(to left, rgba(global.$defaultGrey700, 0), rgba(global.$defaultGrey700, 0.15));
      z-index: 1;
    }
  }

  .head-scroll-wrapper {
    position: relative;
    width: 100%;
    margin: 12px 12px 12px 0;
    overflow: scroll;

    .result-head-container {
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      height: 100%;
    }
  }

  #result-scrollX {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .result-fixed {
    .result-title {
      display: flex;
      flex-direction: column;

      .table-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: global.$defaultWhite;
      }

      .subtitle-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .subtitle {
          background: global.$defaultWhite;
          text-align: center;
        }
      }
    }
  }

  .result-scrollX {
    .result-title {
      display: flex;
      flex-direction: column;

      .table-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: global.$defaultWhite;
      }

      .subtitle-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .subtitle {
          position: relative;
          background: global.$defaultWhite;
          text-align: center;
          flex-grow: 1;
        }
      }
    }

    .pokemon-types {
      .table-title {
        background: global.$optionColorRed;
        color: global.$defaultWhite;
      }
    }

    .pokemon-abilities {
      .table-title {
        background: global.$optionColorOrange;
        color: global.$defaultWhite;
      }
    }

    .pokemon-stats {
      .table-title {
        background: global.$optionColorGreen;
        color: global.$defaultWhite;
      }
    }

    .pokemon-moves {
      .table-title {
        background: global.$optionColorPurple;
        color: global.$defaultWhite;
      }
    }
  }
}

.filter-result-body {
  position: relative;
  display: grid;

  .result-body-scrollY {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 8px;
    border-radius: 8px 0 0 8px;
    background: #f2f2f2;
    will-change: transform;
  }

  .result-body-scrollXY {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 8px;
    border-radius: 0 8px 8px 0;
    background: #f2f2f2;
    will-change: transform;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 8px;
      height: 100%;
      background: linear-gradient(to left, rgba(global.$defaultGrey700, 0), rgba(global.$defaultGrey700, 0.15));
      z-index: 1;
    }
  }

  .body-scroll-wrapper {
    position: relative;
    width: 100%;
    margin: 12px 12px 12px 0;
    overflow: scroll;
  }

  #result-scrollY {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .result-body-container {
    display: flex;
    flex-direction: column;
    background: global.$defaultGrey100;
    will-change: transform;
  }

  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    background: global.$defaultWhite;
  }

  .null-value {
    background: global.$defaultGrey200;
    color: global.$defaultGrey200;
    pointer-events: none;
  }

  .result-scrollY {
    position: relative;
    z-index: 1;
    will-change: transform;
    overflow: hidden;

    .result-identify {
      position: relative;
      display: grid;

      .result-pokemon-image {
        overflow: hidden;

        img {
          position: relative;
          top: 0;
        }
      }
    }
  }

  .result-species {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .result-species-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: auto;
    }
  }
}

.filter-result-head {
  margin-bottom: 4px;

  .result-head-container {
    gap: 8px;
    padding-left: 12px;
  }

  .result-fixed {
    gap: 8px;

    .result-title {
      width: 100%;
      height: 100%;
      gap: 8px;

      .table-title {
        padding: 8px;
        border-radius: 4px;
        font-size: 16px;

        &:first-child {
          height: 100%;
        }
      }

      .subtitle-group {
        gap: 8px;

        .subtitle {
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;

          &:first-child {
            width: 80px;
          }

          &:nth-child(2) {
            width: 128px;
          }

          &:last-child {
            width: 84px;
          }
        }
      }
    }
  }

  .result-scrollX {
    .result-title {
      gap: 8px;

      .table-title {
        min-width: 90px;
        width: auto;
        padding: 8px;
        border-radius: 4px;
        font-size: 16px;
      }

      .subtitle-group {
        gap: 8px;

        .subtitle {
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;
          height: 39px;
        }
      }
    }

    .pokemon-types {
      .subtitle {
        min-width: 100px;
        width: auto;
      }
    }

    .pokemon-abilities {
      .subtitle {
        min-width: 120px;
        width: auto;
      }
    }

    .pokemon-stats {
      .subtitle {
        min-width: 64px;
        width: auto;
      }
    }

    .pokemon-moves {
      .subtitle {
        min-width: 90px;
        width: auto;
      }
    }
  }
}

.filter-result-body {
  margin-bottom: 20px;
  height: calc(100vh - 94px - 148px - 114px - 20px);

  .result-body-container {
    gap: 8px;
    padding-left: 12px;
  }

  .result {
    width: 100%;
    height: 39px;
    border-radius: 4px;
  }

  .result-scrollY {
    .result-identify {
      gap: 8px;
      grid-template-columns: 80px 80px 128px 84px;

      .result-pokemon-image {
        img {
          width: auto;
          height: 40px;
        }
      }
    }
  }

  .result-species {
    position: relative;
    display: flex;
    gap: 8px;
    padding-right: 12px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .result-species-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: auto;
      gap: 8px;
    }

    .pokemon-types {
      .result-type-double {
        width: 100px;
        overflow: hidden;
      }

      .result-type-single {
        width: 208px;
        overflow: hidden;
      }
    }

    .pokemon-abilities {
      .result-ability-double {
        width: 120px;
        overflow: hidden;
      }

      .result-ability-single {
        width: 248px;
        overflow: hidden;
      }

      .result-ability-hidden {
        width: 120px;
        overflow: hidden;
      }
    }

    .pokemon-stats {
      .result-stat {
        width: 64px;
        overflow: hidden;
      }
    }

    .pokemon-moves {
      min-width: 90px;
      width: auto;

      .result-move-info {
        min-width: 90px;
        width: auto;
        overflow: hidden;
      }
    }
  }
}

.result-default-size {
  grid-template-columns: 420px calc(100% - 400px - 20px);
}

.result-collapse {
  grid-template-columns: 420px calc(100% - 408px - 344px - 20px - 12px);
}

@media screen and (max-width: 1024px) {
  .filter-result-head {
    margin-bottom: 4px;

    .result-head-container {
      gap: 8px;
      padding-left: 12px;
    }

    .result-fixed {
      gap: 8px;

      .result-title {
        width: 100%;
        height: 100%;

        .table-title {
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;
        }

        .subtitle-group {
          gap: 8px;

          .subtitle {
            padding: 8px;
            border-radius: 4px;
            font-size: 16px;

            &:first-child {
              width: 64px;
            }

            &:nth-child(2) {
              width: 120px;
            }

            &:last-child {
              width: 84px;
            }
          }
        }
      }
    }

    .result-scrollX {
      .result-title {
        gap: 8px;

        .table-title {
          min-width: 90px;
          width: auto;
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;
        }

        .subtitle-group {
          gap: 8px;

          .subtitle {
            padding: 8px;
            border-radius: 4px;
            font-size: 16px;
          }
        }
      }

      .pokemon-types {
        .subtitle {
          min-width: 100px;
          width: auto;
        }
      }

      .pokemon-abilities {
        .subtitle {
          min-width: 120px;
          width: auto;
        }
      }

      .pokemon-stats {
        .subtitle {
          min-width: 64px;
          width: auto;
        }
      }

      .pokemon-moves {
        .subtitle {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  .filter-result-body {
    margin-bottom: 20px;
    height: calc(100vh - 94px - 148px - 114px - 20px);

    .result-body-container {
      gap: 8px;
      padding-left: 12px;
    }

    .result {
      width: 100%;
      height: 39px;
      border-radius: 4px;
    }

    .result-scrollY {
      .result-identify {
        gap: 8px;
        grid-template-columns: 64px 64px 120px 84px;

        .result-pokemon-image {
          img {
            width: auto;
            height: 40px;
          }
        }
      }
    }

    .result-species {
      position: relative;
      display: flex;
      gap: 8px;
      padding-right: 12px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .result-species-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        gap: 8px;
      }

      .pokemon-types {
        .result-type-double {
          width: 100px;
        }

        .result-type-single {
          width: 208px;
        }
      }

      .pokemon-abilities {
        .result-ability-double {
          width: 120px;
        }

        .result-ability-single {
          width: 248px;
        }

        .result-ability-hidden {
          width: 120px;
        }
      }

      .pokemon-stats {
        .result-stat {
          width: 64px;
        }
      }

      .pokemon-moves {
        min-width: 90px;
        width: auto;

        .result-move-info {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  .result-default-size {
    grid-template-columns: 380px calc(100% - 360px - 20px);
  }

  .result-collapse {
    grid-template-columns: 380px calc(100% - 360px - 20px);
  }
}

@media screen and (max-width: 767px) {
  .main-title {
    margin: 18px;

    h1 {
      font-size: 24px;
    }
  }

  .filter-result-head {
    margin-bottom: 4px;

    .head-scroll-wrapper {
      margin: 8px 8px 8px 0;
    }

    .result-head-container {
      gap: 8px;
      padding-left: 8px;
    }

    .result-fixed {
      gap: 8px;

      .result-title {
        width: 100%;
        height: 100%;

        .table-title {
          padding: 8px;
          border-radius: 4px;
          font-size: 14px;
        }

        .subtitle-group {
          display: none;
        }
      }

      .serial-number {
        display: none;
      }
    }

    .result-scrollX {
      .result-title {
        gap: 6px;

        .table-title {
          min-width: 90px;
          width: auto;
          padding: 8px;
          border-radius: 4px;
          font-size: 14px;
        }

        .subtitle-group {
          gap: 4px;

          .subtitle {
            padding: 8px 0;
            border-radius: 4px;
            font-size: 12px;
          }
        }
      }

      .pokemon-types {
        .subtitle {
          min-width: 36px;
          width: auto;
        }
      }

      .pokemon-abilities {
        .subtitle {
          min-width: 76px;
          width: auto;
        }
      }

      .pokemon-stats {
        .subtitle {
          min-width: 48px;
          width: auto;
        }
      }

      .pokemon-moves {
        .subtitle {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  .filter-result-body {
    margin-bottom: 20px;
    height: calc(100vh - 71px - 188px - 79.5px - 20px - 8px);

    .body-scroll-wrapper {
      margin: 8px 8px 8px 0;
    }

    .result-body-container {
      gap: 8px;
      padding-left: 8px;
    }

    .result {
      width: 100%;
      height: 32px;
      border-radius: 4px;

      p {
        font-size: 12px;
      }
    }

    .result-scrollY {
      .result-identify {
        gap: 4px;
        grid-template-columns: 36px 44px 76px 40px;

        .result-pokemon-image {
          img {
            width: auto;
            height: 36px;
          }
        }

        .result-regional-form {
          p {
            font-size: 8px;
          }
        }
      }
    }

    .result-species {
      position: relative;
      display: flex;
      gap: 8px;
      padding-right: 12px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .result-species-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        gap: 4px;
      }

      .pokemon-types {
        p {
          display: none;
        }

        img {
          padding: 0;
        }

        .result-type-double {
          width: 43px;
        }

        .result-type-single {
          width: 90px;
        }
      }

      .pokemon-abilities {
        .result-ability-double {
          width: 76px;
        }

        .result-ability-single {
          width: 156px;
        }

        .result-ability-hidden {
          width: 76px;
        }
      }

      .pokemon-stats {
        .result-stat {
          width: 48px;
        }
      }

      .pokemon-moves {
        min-width: 90px;
        width: auto;

        .result-move-info {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  .result-default-size {
    grid-template-columns: 224px calc(100% - 204px - 20px);
  }

  .result-collapse {
    grid-template-columns: 224px calc(100% - 204px - 20px);
  }
}
