@use '../../utils/utils.scss';

div.result-scrollable-container {
  position: relative;
  width: 100%;
  overflow: scroll;
  border-radius: 0 12px 12px 0;

  &::-webkit-scrollbar {
    display: none;
  }
}
// FIXME: padding-right: 無法提供邊界，造成 result-species 會貼緊 container 的右側而不是 result-head-scrollable-container

section.filter-result-head {
  position: relative;
  display: grid;
  transition: all 0.3s ease;

  div.result-head-container {
    display: flex;
    flex-direction: row;
    background: utils.$defaultGrey100;
  }

  div.result-head-fixed-container {
    position: relative;
    border-radius: 12px 0 0 12px;
    box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: grid;

    div.result-title {
      display: flex;
      flex-direction: column;

      div.table-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: utils.$defaultWhite;
      }

      div.subtitle-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        div.subtitle {
          background: utils.$defaultWhite;
          text-align: center;
        }
      }
    }
  }

  div.result-scrollable-container {
    div.result-title {
      display: flex;
      flex-direction: column;

      div.table-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: utils.$defaultWhite;
      }

      div.subtitle-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        div.subtitle {
          position: relative;
          background: utils.$defaultWhite;
          text-align: center;
          flex-grow: 1;
        }
      }
    }

    div.pokemon-types {
      div.table-title {
        background: utils.$optionColorRed;
        color: utils.$defaultWhite;
      }
    }

    div.pokemon-abilities {
      div.table-title {
        background: utils.$optionColorOrange;
        color: utils.$defaultWhite;
      }
    }

    div.pokemon-stats {
      div.table-title {
        background: utils.$optionColorGreen;
        color: utils.$defaultWhite;
      }
    }

    div.pokemon-moves {
      div.table-title {
        background: utils.$optionColorPurple;
        color: utils.$defaultWhite;
      }
    }
  }
}

section.filter-result-body {
  position: relative;
  display: grid;
  transition: all 0.3s ease;

  div.result-body-container {
    display: flex;
    flex-direction: column;
    background: utils.$defaultGrey100;
    overflow: scroll;
  }

  div.result {
    display: flex;
    justify-content: center;
    align-items: center;
    background: utils.$defaultWhite;
  }

  div.result-body-scrollY-container {
    position: relative;
    border-radius: 12px 0 0 12px;
    box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.15);
    z-index: 1;

    &::-webkit-scrollbar {
      display: none;
    }

    div.result-identify {
      position: relative;
      display: grid;

      div.result-pokemon-picture {
        overflow: hidden;

        img {
          position: relative;
          top: 0;
        }
      }
    }
  }

  div.result-species {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div.result-species-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: auto;
    }
  }
}

@media screen and (min-width: 1025px) {
  section.filter-result-head {
    margin-bottom: 4px;

    div.result-head-container {
      gap: 8px;
      padding: 12px;
    }

    div.result-head-fixed-container {
      grid-template-columns: 80px 308px;
      grid-template-rows: 86px;
      gap: 8px;

      div.result-title {
        gap: 8px;
        width: 100%;

        div.table-title {
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;

          &:first-child {
            height: 86px;
          }
        }

        div.subtitle-group {
          gap: 8px;

          div.subtitle {
            padding: 8px;
            border-radius: 4px;
            font-size: 16px;

            &:first-child {
              width: 80px;
            }

            &:nth-child(2) {
              width: 128px;
            }

            &:last-child {
              width: 84px;
            }
          }
        }
      }
    }

    div.result-scrollable-container {
      div.result-title {
        gap: 8px;

        div.table-title {
          min-width: 90px;
          width: auto;
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;
        }

        div.subtitle-group {
          gap: 8px;

          div.subtitle {
            padding: 8px;
            border-radius: 4px;
            font-size: 16px;
          }
        }
      }

      div.pokemon-types {
        div.subtitle {
          min-width: 100px;
          width: auto;
        }
      }

      div.pokemon-abilities {
        div.subtitle {
          min-width: 120px;
          width: auto;
        }
      }

      div.pokemon-stats {
        div.subtitle {
          min-width: 64px;
          width: auto;
        }
      }

      div.pokemon-moves {
        div.subtitle {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  section.filter-result-body {
    margin-bottom: 20px;
    height: calc(100vh - 94px - 148px - 114px - 20px);

    div.result-body-container {
      gap: 8px;
      padding: 12px;
    }

    div.result {
      width: 100%;
      height: 39px;
      border-radius: 4px;
    }

    div.result-body-scrollY-container {
      div.result-identify {
        gap: 8px;
        grid-template-columns: 80px 80px 128px 84px;

        div.result-pokemon-picture {
          img {
            width: 40px;
            height: auto;
          }
        }
      }
    }

    div.result-species {
      position: relative;
      display: flex;
      gap: 8px;
      padding-right: 12px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      div.result-species-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        gap: 8px;
      }

      div.pokemon-types {
        div.result-type-double {
          width: 100px;
        }

        div.result-type-single {
          width: 208px;
        }
      }

      div.pokemon-abilities {
        div.result-ability-double {
          width: 120px;
        }

        div.result-ability-single {
          width: 248px;
        }

        div.result-ability-hidden {
          width: 120px;
        }
      }

      div.pokemon-stats {
        div.result-stat {
          width: 64px;
        }
      }

      div.pokemon-move {
        min-width: 90px;
        width: auto;

        div.result-move-name {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  .result-expand {
    grid-template-columns: 420px calc(100% - 400px - 20px);
  }

  .result-collapse {
    grid-template-columns: 420px calc(100% - 408px - 344px - 20px - 12px);
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.filter-result-head {
    margin-bottom: 4px;

    div.result-head-container {
      gap: 8px;
      padding: 12px;
    }

    div.result-head-fixed-container {
      grid-template-columns: 64px 284px;
      grid-template-rows: 86px;
      gap: 8px;

      div.result-title {
        gap: 8px;
        width: 100%;

        div.table-title {
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;

          &:first-child {
            height: 86px;
          }
        }

        div.subtitle-group {
          gap: 8px;

          div.subtitle {
            padding: 8px;
            border-radius: 4px;
            font-size: 16px;

            &:first-child {
              width: 64px;
            }

            &:nth-child(2) {
              width: 120px;
            }

            &:last-child {
              width: 84px;
            }
          }
        }
      }
    }

    div.result-scrollable-container {
      div.result-title {
        gap: 8px;

        div.table-title {
          min-width: 90px;
          width: auto;
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;
        }

        div.subtitle-group {
          gap: 8px;

          div.subtitle {
            padding: 8px;
            border-radius: 4px;
            font-size: 16px;
          }
        }
      }

      div.pokemon-types {
        div.subtitle {
          min-width: 100px;
          width: auto;
        }
      }

      div.pokemon-abilities {
        div.subtitle {
          min-width: 120px;
          width: auto;
        }
      }

      div.pokemon-stats {
        div.subtitle {
          min-width: 64px;
          width: auto;
        }
      }

      div.pokemon-moves {
        div.subtitle {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  section.filter-result-body {
    margin-bottom: 20px;
    height: calc(100vh - 94px - 148px - 114px - 20px);

    div.result-body-container {
      gap: 8px;
      padding: 12px;
    }

    div.result {
      width: 100%;
      height: 39px;
      border-radius: 4px;
    }

    div.result-body-scrollY-container {
      div.result-identify {
        gap: 8px;
        grid-template-columns: 64px 64px 120px 84px;

        div.result-pokemon-picture {
          img {
            width: 40px;
            height: auto;
          }
        }
      }
    }

    div.result-species {
      position: relative;
      display: flex;
      gap: 8px;
      padding-right: 12px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      div.result-species-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        gap: 8px;
      }

      div.pokemon-types {
        div.result-type-double {
          width: 100px;
        }

        div.result-type-single {
          width: 208px;
        }
      }

      div.pokemon-abilities {
        div.result-ability-double {
          width: 120px;
        }

        div.result-ability-single {
          width: 248px;
        }

        div.result-ability-hidden {
          width: 120px;
        }
      }

      div.pokemon-stats {
        div.result-stat {
          width: 64px;
        }
      }

      div.pokemon-move {
        min-width: 90px;
        width: auto;

        div.result-move-name {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  .result-expand {
    grid-template-columns: 380px calc(100% - 360px - 20px);
  }

  .result-collapse {
    grid-template-columns: 380px calc(100% - 360px - 20px);
  }
  // TODO: here for .result-collapse and ensure that url('./src/component/filter-display/index.js') does not affect screen devices with a max-width of 1024px or less."
}

@media screen and (max-width: 767px) {
  div.main-title {
    margin: 18px;

    h1 {
      font-size: 24px;
    }
  }

  section.filter-result-head {
    margin-bottom: 4px;

    div.result-head-container {
      gap: 8px;
      padding: 8px;
    }

    div.result-head-fixed-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 8px;

      div.result-title {
        gap: 8px;
        width: 100%;

        div.table-title {
          padding: 8px;
          border-radius: 4px;
          font-size: 14px;
          height: 100%;
        }

        div.subtitle-group {
          display: none;
        }
      }

      div.serial-number {
        display: none;
      }
    }

    div.result-scrollable-container {
      div.result-title {
        gap: 6px;

        div.table-title {
          min-width: 90px;
          width: auto;
          padding: 4px;
          border-radius: 4px;
          font-size: 14px;
        }

        div.subtitle-group {
          gap: 4px;

          div.subtitle {
            padding: 8px;
            border-radius: 4px;
            font-size: 12px;
          }
        }
      }

      div.pokemon-types {
        div.subtitle {
          min-width: 36px;
          width: auto;
        }
      }

      div.pokemon-abilities {
        div.subtitle {
          min-width: 76px;
          width: auto;
        }
      }

      div.pokemon-stats {
        div.subtitle {
          min-width: 48px;
          width: auto;
        }
      }

      div.pokemon-moves {
        div.subtitle {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  section.filter-result-body {
    margin-bottom: 20px;
    height: calc(100vh - 71px - 188px - 79.5px - 20px - 8px);

    div.result-body-container {
      gap: 8px;
      padding: 8px;
    }

    div.result {
      width: 100%;
      height: 32px;
      border-radius: 4px;

      p {
        font-size: 12px;
      }
    }

    div.result-body-scrollY-container {
      div.result-identify {
        gap: 4px;
        grid-template-columns: 40px 40px 76px 40px;

        div.result-pokemon-picture {
          img {
            width: auto;
            height: 36px;
          }
        }

        div.result-regional-form {
          p {
            font-size: 8px;
          }
        }
      }
    }

    div.result-species {
      position: relative;
      display: flex;
      gap: 8px;
      padding-right: 12px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      div.result-species-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        gap: 4px;
      }

      div.pokemon-types {
        p {
          display: none;
        }

        img {
          padding: 0;
        }

        div.result-type-double {
          width: 43px;
        }

        div.result-type-single {
          width: 90px;
        }
      }

      div.pokemon-abilities {
        div.result-ability-double {
          width: 76px;
        }

        div.result-ability-single {
          width: 156px;
        }

        div.result-ability-hidden {
          width: 76px;
        }
      }

      div.pokemon-stats {
        div.result-stat {
          width: 48px;
        }
      }

      div.pokemon-move {
        min-width: 90px;
        width: auto;

        div.result-move-name {
          min-width: 90px;
          width: auto;
        }
      }
    }
  }

  .result-expand {
    grid-template-columns: 224px calc(100% - 204px - 20px);
  }

  .result-collapse {
    grid-template-columns: 224px calc(100% - 204px - 20px);
  }
  // TODO: here for .result-collapse and ensure that url('./src/component/filter-display/index.js') does not affect screen devices with a max-width of 1024px or less."
}
