@use '../../utils/utils.scss';

section.filter-menu {
  transition: all 0.3s ease;

  div.filter-menu-wrapper {
    position: relative;
    background: utils.$defaultGrey700;
    border-radius: 12px;

    div.filter-menu-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        width: 32px;
        height: 40px;
        border-radius: 6px;

        i {
          color: utils.$defaultWhite;
          font-size: 18px;

          p {
            font-size: 12px;
          }
        }

        &:hover {
          background: utils.$defaultWhite;

          i {
            color: utils.$defaultRed;
          }
        }
      }
    }

    div.scroll-wrapper {
      position: absolute;
      width: 100%;
      bottom: 0;
      background: utils.$defaultWhite;
      overflow-y: scroll;
    }
  }
}

div.filter-wrapper {
  position: relative;
  padding: 16px;
  transition: all 0.3s ease;

  &:after {
    position: absolute;
    content: '';
    width: 8px;
    height: calc(100% - 32px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 0 16px 16px 0;
  }

  &:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 80%;
    height: 1px;
    background: utils.$defaultGrey200;
  }

  div.filter-title {
    display: grid;
    grid-template-columns: 1fr 40px 40px;
    gap: 12px;
    padding: 8px;

    h4.option-visible-toggle {
      display: flex;
      justify-content: start;
      align-items: center;
      padding-left: 8px;
      border-radius: 8px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;

      &:hover {
        background: utils.$defaultGrey100;
        cursor: pointer;
      }

      &:active {
        background: utils.$defaultGrey200;
      }
    }

    button {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      border-radius: 8px;
      color: utils.$defaultGrey500;

      &:hover {
        background: utils.$defaultBlue;

        i {
          color: utils.$defaultWhite;
        }
      }
    }
  }
}

div.types-filter {
  &:after {
    background: utils.$optionColorRed;
  }

  h4 {
    color: utils.$optionColorRed;
  }
}

div.abilities-filter {
  &:after {
    background: utils.$optionColorOrange;
  }

  h4 {
    color: utils.$optionColorOrange;
  }
}

div.stats-filter {
  &:after {
    background: utils.$optionColorGreen;
  }

  h4 {
    color: utils.$optionColorGreen;
  }
}

div.moves-filter {
  &:after {
    background: utils.$optionColorPurple;
  }

  h4 {
    color: utils.$optionColorPurple;
  }
}

.menu-invisible {
  right: -344px;
  opacity: 0;
}

.menu-visible {
  right: 0;
  opacity: 1;
}

@media screen and (min-width: 1025px) {
  section.filter-menu {
    position: absolute;
    top: 0;
    margin-top: 20px;

    div.filter-menu-wrapper {
      width: 344px;
      height: calc(100vh - 40px);

      div.filter-menu-title {
        padding: 16px 32px;

        div.title-group {
          button.close-menu {
            display: none;
          }
        }
      }

      div.scroll-wrapper {
        height: calc(100vh - 105px);
        border-radius: 12px;
      }
    }
  }

  .menu-invisible {
    right: -344px;
    opacity: 0;
  }

  .menu-visible {
    right: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.filter-menu {
    position: absolute;
    top: 0;
    margin-top: 20px;

    div.filter-menu-wrapper {
      width: 344px;
      height: calc(100vh - 40px);

      div.filter-menu-title {
        padding: 16px 32px 16px 8px;

        div.title-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;

          button.close-menu {
            display: block;
          }
        }
      }

      div.scroll-wrapper {
        height: calc(100vh - 105px);
        border-radius: 12px;
      }
    }
  }

  .menu-invisible {
    right: -344px;
    opacity: 0;
  }

  .menu-visible {
    right: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  section.filter-menu {
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 1;

    div.filter-menu-wrapper {
      width: 100vw;
      height: 100vh;

      div.filter-menu-title {
        padding: 16px 32px 16px 8px;

        div.title-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;

          button.close-menu {
            display: block;
          }
        }
      }

      div.scroll-wrapper {
        height: calc(100vh - 72px);
        border-radius: 12px;
      }
    }
  }

  .menu-invisible {
    right: -100%;
    opacity: 0;
  }

  .menu-visible {
    right: 0;
    opacity: 1;
  }
}
