$defaultWhite: #ffffff;
$defaultGrey100: #f2f2f2;
$defaultGrey200: #d9d9d9;
$defaultGrey300: #acacac;
$defaultGrey400: #7f7f7f;
$defaultGrey500: #50504f;
$defaultGrey600: #3c3c3c;
$defaultGrey700: #282828;
$defaultGrey800: #1f1f1f;
$defaultRed: #dc2626;
$defaultGreen: #6ddd39;
$defaultYellow: #facc15;
$defaultBlue: #2563eb;

$optionColorRed: #ff3c12;
$optionColorOrange: #ff9314;
$optionColorGreen: #13b440;
$optionColorPurple: #7e60fd;

$typeFire: #e62829;
$typeFighting: #ff8001;
$typeElectric: #fac000;
$typeBug: #91a219;
$typeGrass: #3fa129;
$typeFlying: #81b9ef;
$typeSteel: #60a1b8;
$typeIce: #3ed8ff;
$typeWater: #2980ef;
$typeDragon: #5060e1;
$typePoison: #9141cb;
$typeGhost: #6f4170;
$typePsychic: #ee4179;
$typeFairy: #ef70ef;
$typeGround: #915120;
$typeDark: #50423e;
$typeRock: #afa981;
$typeNormal: #9fa19f;

.type-fire {
  background: $typeFire !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-fighting {
  background: $typeFighting !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-electric {
  background: $typeElectric !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-bug {
  background: $typeBug !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-grass {
  background: $typeGrass !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-flying {
  background: $typeFlying !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-steel {
  background: $typeSteel !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-ice {
  background: $typeIce !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-water {
  background: $typeWater !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-dragon {
  background: $typeDragon !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-poison {
  background: $typePoison !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-ghost {
  background: $typeGhost !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-psychic {
  background: $typePsychic !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-fairy {
  background: $typeFairy !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-ground {
  background: $typeGround !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-dark {
  background: $typeDark !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-rock {
  background: $typeRock !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.type-normal {
  background: $typeNormal !important;
  color: $defaultWhite;

  img {
    padding-right: 6px;
  }
}

.button-md {
  padding: 4px;
  width: auto;
  height: auto;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);

  &:hover {
    background: $defaultGrey100;
    cursor: pointer;
  }

  &:active {
    background: $defaultGrey200;
  }
}

.run-transition {
  transition: all 0.3s ease;
}

.main-title {
  margin: 24px auto;
}
