.type-sprites {
  background-image: url('./src/assets/img/type_sprites.png');
}

.bg-type-bug {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -10px -10px;
}

.bg-type-dark {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -54px -10px;
}

.bg-type-electric {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -10px -54px;
}

.bg-type-fighting {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -54px -54px;
}

.bg-type-fairy {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -98px -10px;
}

.bg-type-dragon {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -98px -54px;
}

.bg-type-fire {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -10px -98px;
}

.bg-type-flying {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -54px -98px;
}

.bg-type-ghost {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -98px -98px;
}

.bg-type-ice {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -142px -10px;
}

.bg-type-ground {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -142px -54px;
}

.bg-type-normal {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -142px -98px;
}

.bg-type-rock {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -10px -142px;
}

.bg-type-grass {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -54px -142px;
}

.bg-type-steel {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -98px -142px;
}

.bg-type-psychic {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -142px -142px;
}

.bg-type-poison {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -186px -10px;
}

.bg-type-water {
  width: 24px;
  height: 24px;
  background: url('./src/assets/img/type_sprites.png') -186px -54px;
}
